﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hide-popup {
    display:none;
}

.employee-wrapper {
    margin-top:20px;
    z-index: 1;
}
.employee-list {
    width: 100%;
}

.shift-detail-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;    
}
.shift-detail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    width: 100%;
    height: 100%;    
    opacity: 0.5
}

.shift-detail-container {
    position: absolute;
    background-color: #fff;
    z-index: 100;
    width: 60%;
    height: auto;
    margin: 10% 20%;
    padding: 20px;
}

.shift-detail-container .shift-detail-title {
    margin: 0;
    padding: 0;
}

.shift-detail-container .shift-detail-title h3 {
    margin: 0 0 10px 0;
    padding-top: 10px;
}

.shift-detail-container .shift-detail-action {
    text-align:center;
    width:250px;
    margin:20px auto 10px auto;
}

a.btn-close,
a.btn-close:link,
a.btn-close:visited,
a.btn-close:hover {
    border: solid 1px #d5d5d5;
    padding: 5px 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    background-color: #e5e5e5;
    color: #000;
}

a.btn-close:hover {
    border: solid 1px #e5e5e5;
    background-color: #d5d5d5;
}

.filter-wrapper {
    margin-top:20px;
}

.filter-popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
}

.filter-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.filter-popup-container {
    position: absolute;
    background-color: #fff;
    z-index: 100;
    width: 20%;
    height: auto;
    margin: 10% 40%;
    padding: 10px 0;
    border: solid 1px #8d9193;
}

.filter-popup-container h3 {
    margin:0 0 0 10px;
}

.filter-popup-container ul {
    overflow:auto;
    list-style: none;
    margin: 0;
    height:165px;
    padding: 10px;
    border-bottom: solid 1px #c4c5c5;
}

.filter-popup-action {
    text-align: center;
    width: 250px;
    margin: 10px auto 0 auto;
}

a.btn-filter,
a.btn-filter:link,
a.btn-filter:visited,
a.btn-filter:hover {
    border: solid 1px #d5d5d5;
    padding: 5px 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    background-color: #e5e5e5;
    color: #000;
}

a.btn-filter:hover {
    border: solid 1px #e5e5e5;
    background-color: #d5d5d5;
}

a.btn-filter-close,
a.btn-filter-close:link,
a.btn-filter-close:visited,
a.btn-filter-close:hover {
    border: solid 1px #d5d5d5;
    padding: 5px 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    background-color: #e5e5e5;
    color: #000;
}

a.btn-filter-close:hover {
    border: solid 1px #e5e5e5;
    background-color: #d5d5d5;
}


