﻿@using MVCTest.Models;

@model IEnumerable<Employee>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="row filter-wrapper">
    <a href="javascript:;" class="btn-filter">Filter</a>
</div>

<div class="row filter-popup hide-popup">
    <div class="filter-popup-overlay"></div>
    <div class="filter-popup-container">
        <h3>Filter by employee</h3>
        <div class="filter-popup-list">
            <ul>
                <li><a href="javascript:;" class="filter-item" data-employee-id="0">All</a></li>

                @if (Model != null && Model.Any())
                {
                    foreach (Employee employee in Model)
                    {
                        <li><a href="javascript:;" class="filter-item" data-employee-id="@employee.Employee_ID">@($"{employee.FirstName} {employee.Surname}")</a></li>
                    }
                }
            </ul>
        </div>
        <div class="filter-popup-action">
            <a href="javasript:;" class="btn-filter-close">Close</a>
        </div>
    </div>
</div>

<div class="row employee-wrapper">
    <div class="employee-list">
        <div id="employees" class="jsirontable"></div>
    </div>    
</div>

<div id="shift-details" class="shift-detail-wrapper hide-popup">
    <div class="shift-detail-overlay"></div>
    <div class="shift-detail-container">
        <div class="shift-detail-title">
            <h3>Employee Name</h3>
        </div>
        <div id="shiftdetail" class="jsirontable"></div>
        <div class="shift-detail-action">
            <a href="javascript:;" class="btn-close">Close</a>
        </div>
    </div>
    
</div>
@section scripts {
    <script src="~/Scripts/jquery.columns-1.0.min.js"></script>
    <script src="~/Scripts/employee.js"></script>
}